## データ　永続化

In [2]:
import sqlite3

In [6]:
path = ""
name = "test.db"

conn = sqlite3.connect(path+name)

conn.close()

In [3]:
path = ""
name = "car.db"

conn = sqlite3.connect(path+name)

cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS cars (
    id INTEGER PRIMARY KEY,
    name TEXT,
    price REAL
)
""")
conn.commit()

cur.close()
conn.close()

In [10]:
try:
    conn = sqlite3.connect(path+name)
    cur = conn.cursor()
    sql = """
    INSERT INTO cars (id,name,price)
                VALUES(?,?,?);
    """
    cars = [
        (20,"car1",11111111.111),
        (21,"car2",20000000)
    ]
    cur.executemany(sql,cars)

    conn.commit()
except sqlite3.Error as e:
    print(f"error:{e}")
finally:
    cur.close()
    conn.close()

In [14]:
try:
    conn = sqlite3.connect(path+name)
    cur = conn.cursor()
    sql = """
    SELECT * FROM cars ;
    """
    cur.execute(sql)

    #conn.commit()
except sqlite3.Error as e:
    print(f"error:{e}")
else:
    for row in cur:
        id ,name ,price = row
        print(f"id:{id},name:{name},price:{price}")
finally:
    cur.close()
    conn.close()

id:1,name:370z,price:7000000.0
id:20,name:car1,price:11111111.111
id:21,name:car2,price:20000000.0